<app-navbar></app-navbar>

<button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
    MENU
</button>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list role="list">
            <mat-list-item (click)="drawer.toggle()" routerLink="login" role="listitem">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon>
                <span>Login</span>
            </mat-list-item>
            <mat-list-item (click)="drawer.toggle()" routerLink="home" role="listitem">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <span>Home</span>
            </mat-list-item>
            <mat-list-item (click)="drawer.toggle()" routerLink="contact" role="listitem">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="contacts"></mat-icon>
                <span>Contacts</span>
            </mat-list-item>
            <mat-list-item (click)="drawer.toggle()" routerLink="inscricao" role="listitem">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon>
                <span>Inscrição</span>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>


    <app-footer></app-footer>
</mat-drawer-container>


