<div class="container">
    <mat-card> 
        <mat-card-title>Bem-Vindo</mat-card-title>
        <mat-card-content>
            <div class="contact-form"> 
                <button class="botao1" (click)="btnLogin()" mat-raised-button >
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon>
                    Login
                </button>
                <button class="botao1" (click)="btnContact()" mat-raised-button >
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="contacts"></mat-icon>
                    Contacts
                </button>
                <button class="botao1" (click)="btnInscricao()" mat-raised-button >
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon>
                    Inscrição
                </button>
            </div>
        </mat-card-content>
    </mat-card>         
</div>